:root {
    --topbar-height: 120px;
    --padding: 25px;
    font-family: Helvetica ,Arial, sans-serif;
    background-color: #fbfafa;
}
h1{
    position: absolute;
    padding-top: 120px;
    font-size: 40px;
}